 * { box-sizing: border-box; }

 body {
 	font-family: sans-serif;
 	min-width: 300px;
 	padding: 30px;
 }

 ul {
 	padding: 0;
 }

 li {
 	list-style-type: none;
 	display: inline;
 	font-size: 36px;
 }

 li a { 
 	color: black;
 }