 * { box-sizing: border-box; }

html, body { min-height: 100%; }

 body {
 	font-family: europa, sans-serif;
 	background: url(/img/bg.jpg) no-repeat center center fixed;
 	background-size: cover;
 	margin: 0;
 	padding: 0;
 }

#main {
	background: rgba(255, 255, 255, 0.9);
 	padding: 3% 20%;
 	margin-top: 150px;
 	font-size: 24px;
}

a { color: #88442d; }

h1 { 
	font-size: 48px;
	line-height: 100%;	
	margin: 0;
	text-transform: uppercase;
}

 ul {
 	padding: 0;
 }

 li {
 	list-style-type: none;
 	display: inline;
 	font-size: 36px;
 }

 li a { 
 	color: black;
 }
 	li a:hover { 
 		color: rgba(10, 10, 10, 0.7);
 		transition: all 0.3s ease-in;
 	}