// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.site {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.site-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $color__border-input;    
    .site-title {
        margin-bottom: 0;
        a {
            color: $color__text-main;
        }
    }
    .site-branding {
        margin-bottom: 3em;
    }
}

.newsletter form {
    background-color: #eeeeee; 
    margin-top: 2rem; 
    padding: .5rem 1.5rem 1.5rem; 
    text-align: center;
    a { 
        color: #666666;
        font-size: 0.9em;
		&:hover { color: $color__link-hover; }        
    }
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
