// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.site {
	max-width: 40.5em;
	margin: 0 auto;
	padding: 1.5em;
}

.site-header {
    text-align: center;   
    .site-title {
        margin-bottom: 0;
        a {
            color: $color__text-main;
        }
    }
    .site-branding {
        margin-bottom: 3em;
    }
}

.site-footer {
    @include font-size(0.875);
    border-top: 1px solid #cccccc;
    margin-top: 2em;
    padding-top: 2em;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li { display: inline-block; }
    }
    a { 
        color: #666666;
        font-size: 0.9em;
		&:hover { color: $color__link; }        
    }
    span[class*="simple-icon-"] {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
    }
    span[class*="simple-icon-"] svg {
        display: inline-block;
        fill: $color__text-main;
        vertical-align: middle;
        height: inherit;
        width: inherit;
        &:hover { 
            fill: $color__link;
            transition: 300ms;
            transition-timing-function: ease-out;
        };         
    }
    .elsewhere {
        margin: 0 0 2em;
        ul li {
            margin-right: 0.5em;
        }
    }
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
