.pagination {
    a {
        color: #666666;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        span {
            font-size: 1.4em;
        }
        &:hover {
            color: $color__link;
        }
    }

    .nav-links {
        align-items: center;
        display: grid;
        grid-gap: 0;
        grid-template-areas: "a a a";
        grid-auto-columns: 33.333%;
        text-align: center;
    }

    .next {
        text-align: right;
    }
    .prev {
        text-align: left;
    }
    
}