.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.archive-meta {
	@include font-size(0.8);
	border-bottom: 1px solid #ccc;	
	color: #bbbbbb;
	margin: 2em 0 0;
	padding: 0 0 2em;
	a {
		color: #666666;
		&:hover { color: $color__link-hover; }
	}
}

.archive-monthly ul { 
	padding: 0; 
	margin: 0 0 .7em; 
	
	li { 
		display: inline; 
		padding: 0 .26rem 0 0; 

		&.year { 
			font-weight: bold;
			color: #222;
			padding-right: .7rem; 
			width: 3.5rem;
			display: block;
			float: left;
		}

		&.no-archive { 
			color: #ccc; 
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-footer {
	@include font-size(0.8);	
	color: #bbbbbb;
	a {
		color: #666666;
		&:hover { color: $color__link-hover; }
	}

	.entry-tags {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
			margin-right: 1em;
			&:before {
				content: ' / ';
			}
		}
	}
}
.entry-meta {
	@include font-size(0.8);
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
